@import "../partials/variables";
@import "../partials/mixins";

header {
    background-color: $first_main_color;

    .header-content {
        @include container;

        display: flex;
        flex-direction: row;
        align-items: center;
    
        #logo img {
            width: 300px;
            padding: 31px;
        }
    
        #mobile-nav-icon {
            display: none;
            cursor: pointer;
        }
    }
}